
table {
  margin-top: 75px;
}

body {
  font-family: 'Lato', sans-serif;
}

td a {
  background-color: rgb(223, 235, 231) !important;
  background-color: #ff5050;
  color: #000;
  text-decoration: none;
}
